* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: "M PLUS 1p", sans-serif;
	font-weight: 600;
	color:#000000;
	width:100%;
	padding:0;
	margin:0;
	background:#ffffff;
}
	
::selection {
	background-color: rgba(0,0,0,.1);
}

ul{
	width:100%;
	text-align: center;
	list-style: none;
}
li{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right:1%;
	margin-left:1%;
}

/*header*/

header {
	vertical-align: middle;
	text-align: center;
	padding:16px;
}
h1{
	font-family: sacramento;
	font-size: 35px;
	display: inline-block;
	margin:0px;
}

/*section*/

.nav{
	position: sticky;
	top: 0; 
	left: 0;
	width:100%;
	z-index: 1;
	padding:8px 0;
	background:#ffffff;
	box-shadow:rgba(0, 0, 0, .2) 0 3px 3px -3px;
}
nav{font-size:14px;}

section{
	width:85%;
	max-width:800px;
	margin: 0 auto;
	padding:32px 16px 0;
}
.about{padding-top:0;}
#guide{margin-bottom:64px;}

h2{
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	width:90%;
	text-align: center;
	padding:8px 0;
	margin: 32px auto;
}
.inner{
	width:80%;
	margin:0 auto;
	text-align: center;
}
.about_img{
	display:block;
	width:120px;
	height:auto;
	margin:16px auto;
	border-radius:50%;
	box-shadow: rgba(0, 0, 0, .2) 0px 0px 10px;
}

strong{
	font-size: 14px;
	font-weight: 700;
	width:fit-content;
}
p{
	font-size:12px;
	text-align: left;
	width:fit-content;
	margin:16px 0;
}

.text{
	width:100%;
	max-width: 500px;
	margin: 24px auto;
	padding:16px 32px;
	background:#f7f7f7;
	border-radius: 16px;
}
#works li{
	width:30%;
}
#works li p{
	display: inline-block;
}
.box {
	width:100%;
	display: inline-block;
	padding:3%;
	vertical-align: middle;
	box-shadow: rgba(0, 0, 0, .15) 0 0 10px;
	transition: .3s cubic-bezier(.2,.6,.5,1);
}
.box:hover{
	box-shadow: rgba(0, 0, 0, .15) 0 5px 15px;
	cursor: pointer;
	translate: 0 -5px;
}
.popup,.popup label{
	width: 100%;
	 height: 100%;
}
.popup {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
.popup img {
	z-index: 4;
	width: 70%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
	object-fit: contain;
}
.popup label {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]:checked ~ .popup {
	visibility: visible;
	opacity: 1;
}
	
/*@media*/

@media(max-width:700px){
	#works li {width:45%;}
}

/*footer*/

footer{
	text-align: center;
}
.page_top{
	font-size:12px;
	padding:8px 0;
	background: #ccc;
}
.copy {
	font-size:10px;
	color: #ffffff;
	padding:8px 0;
	background: #222222;
	font-weight: 300;
}

/*line*/
	
.line{
	border-top: solid #000 1px;
	border-bottom: solid #000 1px;
}
.line_text{
	color:#000000;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.line_text::before,.line_text::after {
	width: 53.5%;
	height: 1px;
	content: "";
	background-color: #000;
	position: absolute;
	bottom: 5%;
	transform: scale(0, 1);
	transition: transform .3s;
}
.line_text::before {
	left: -3%;
	transform-origin: left;
}
.line_text::after {
	right: -3%;
	transform-origin: right;
}
.line_text:hover::before,.line_text:hover::after{
	transform: scale(1, 1);
}
.line_text:hover::before {
	transform-origin: right;
}
.line_text:hover::after {
	transform-origin: left;
}