@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text-color: rgba(0,0,0,0.8);
	--line-color: rgba(0,0,0,0.4);
	--link-color: #8FA7BC;
	
	--small-size:        13px;
	--small-strong-size: 15px;
	--text-size:         14px;
	--text-strong-size:  16px;

	--text-weight  : 800;
	--strong-weight: 00;
}

::selection {
	background-color: rgba(0,0,0,.1);
	}
	
body{
	font-family: "M PLUS 1p", sans-serif;
	font-weight: var(--text-weight);
	color:var(--text-color);
	width:100%;
	padding:0;
	margin:0;
}

.bg{
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
	background:#f9f9f9;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

iframe{
	border: none;
	margin:0;
	padding:0;
}

header,footer{
	padding:0;
	margin:0;
}

/*header*/

h1{
	font-family: sacramento;
	font-size: 32px;
	display: inline-block;
	margin:0px;
}
nav{
	padding:0 20px;
}

/*icon*/

.icon{
	display:block;
	width:100px;
	height:auto;
	margin:0 auto;
	filter: drop-shadow(0 0 10px #e7e7e7);
}

/*section*/

.space{
	height: 20px;
	margin:0;
}

a{
	color:var(--link-color);
}

ul{
	list-style:none;
	display: block;
}
li{
	margin:16px 0;
	padding:0 20px;
	word-break: break-all;

}

.outer{
	max-width: 480px;
	margin: 0 auto;
	padding:16px 10px;
	position: relative;
	text-align:center;
	border-radius: 10px;
	background: #F3F3F3;
	/*
	background: rgba(255, 255, 255, 0.3);
	box-shadow: rgba(73, 88, 105, 0.2) 0px 0px 20px;
	*/
}
.none{
	padding:10px;
	background-color:transparent;
	box-shadow:none;
}
h2{
	font-size: var(--text-strong-size);
	font-weight: var(--strong-weight);
	letter-spacing: 1px;
	width:95%;
	text-align: center;
	padding:4px 0;
	margin: 0 auto;
}
.inner{
	width:95%;
	margin:10px auto 0;

}
h3{
	font-size: var(--text-size);
	font-weight: var(--strong-weight);
	margin:8px 0;
}
strong{
	color:var(--link-color);
}
p{
	font-size: var(--text-size);
	text-align:center;
	width:fit-content;
	margin: 0px auto;
}

table{
	width:fit-content;
	margin: 0px auto;
	border-spacing: 0 5px;
}
table p{
	margin:0;
	text-align:left;
	font-weight: var(--text-weight);;
}
th,td{
	text-align:center;
	padding:0 10px;
}
th{
	border-right: solid var(--line-color) 1px;
}
@media screen and (max-width:500px){

	.icon{
		width:80px;
	}
	h2{
		font-size: var(--small-strong-size);
	}
	h3,p{
		font-size: var(--small-size);
	}
	
}

/*link*/

.link .outer{
	transition: .2s cubic-bezier(.2,.6,.5,1);
}
.link .outer:hover{
	box-shadow: rgba(90, 90, 90, 0.3) 0px 0px 30px;
	transform:scale(101%);
}

.link img{
	width:15%;
	aspect-ratio: 1;
	padding:0;
	margin:0;
	display: inline-block;
	vertical-align:middle;
}
.link_text{
	width:75%;
	margin:0;
	padding:0 24px;
	display: inline-block;
	text-align:left;
}
.link_text p{
	width:fit-content;
	text-align:left;
	margin:0;
	display: inline-block;
	vertical-align:middle;
}

/*line*/

.line{
	border-top: solid var(--line-color) 1px;
	border-bottom: solid var(--line-color) 1px;
}

.line_single{
	margin:10px auto;
	border-bottom: solid var(--line-color) 1px;
}

.line_text{
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 14px;
}
.line_text::before,.line_text::after {
	width: 53.5%;
	height: 1px;
	content: "";
	background-color: var(--link-color);
	position: absolute;
	bottom: 5%;
	transform: scale(0, 1);
	transition: transform .3s;
}
.line_text::before {
	left: -3%;
	transform-origin: left;
}
.line_text::after {
	right: -3%;
	transform-origin: right;
}
.line_text:hover::before,.line_text:hover::after{
	transform: scale(1, 1);
}
.line_text:hover::before {
	transform-origin: right;
}
.line_text:hover::after {
	transform-origin: left;
}
